<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Туристическое агенство</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample01" style="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Домой <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Профиль</a>
          <a class="nav-link" href="{% url 'registration' %}">Регистрация</a>
        </li>
       
    </div>
  </nav>