
{% extends 'base.html' %}

    {% block style %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    {% endblock %}
{% block title %}Statistics{% endblock title %}
{% block main_content %}
<div class = "container">
    <form method="post">
        {% csrf_token %}
        <p>Логин</p>
        <input class="form-control" type="text" placeholder='логин' id='username' name='username'><br>
        <p>Пароль</p>
        <input class="form-control" type="password" placeholder='пароль' id='password' name='password'><br>
        <input  class='btn btn-lg btn-primary btn-block'type="submit" value="Войти">
    </form>
</div>
</div>    
{% endblock main_content %}
