<style>
  .form-control{
    width: 30%
}
</style>
<nav class="navbar navbar-dark bg-dark" style="z-index:2">

  <a class="navbar-brand" href="/">Туристическое агенство</a>
    <a class="navbar-brand" href="">{{ position }}</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample01" style="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Личный кабинет</a>
          <a class="nav-link" href="/logout">Выход</a>
        </li>
    </div>
  </nav>