.navbar {
    z-index: 1040;
}
.side-nav {
margin-top: 49px !important;
}

.double-nav .breadcrumb-dn p {
    color: #fff;
}
body > .container{
padding-top: 60px;
}
.footer {
color: rgb(12, 12, 12);
/* position: absolute; */
bottom: 0;
width: 100%;
height: 60px;
line-height: 60px;
background-color: rgb(12, 12, 12);
}
.background{
    background-image:url('../img/sclass_back.jpg');
}
body{
    width: 100%;
    background: rgba(18, 20, 26, 1);
}
.form-signin {
    width: 100%;
    height: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto auto;
}
body {
    background: url('../images/back_img.jpg');
}
a{
    color:white!important;
}
p{
    color:black!important;
};
.form-control{
    width: 30%
}
label{
    color:white;
}